/*  #f688bb
    #e8f9e9
    #baf1a1
    #9de3d0
    Colorhunt
*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #9de3d0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #f688bb;
    font-weight: normal;
    line-height: 2rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #9de3d0;
}

p {
    line-height: 2;
}

hr {
    width: 6%;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #9de3d0;
    margin: 80px auto;
}

.top-container {
    background-color: #e8f9e9;
    position: relative;
    padding-top: 100px;
}

.mid-container {
    margin-top: 50px;
}

.profile {
    width: 30%;
    margin: auto;
}

.profile-pic {
    width: 50%;
}

.bottom-container {
    background-color: #9de3d0;
    min-height: 100px;
    width: 100%;
    padding-top: 2rem;
    font-size: .75rem;
    color: rgb(148, 148, 148);
}

.footer-link {
    margin: 50px 40px 20px;
    text-decoration: none;
    color: #639184;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
    color: white;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 250px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.comp-pic {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilly-pic {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me {
    width: 30%;
    margin: auto;
}

.btn {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 20px;
    background-color: #F688BB;
    box-shadow: 0px 2px 5px 0px #000000;
    -webkit-box-shadow: 0px 2px 5px 0px #000000;
    -moz-box-shadow: 0px 2px 5px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 50px;
 }
 
 .btn:hover {
    border: solid #FFFFFF 0px;
    background: rgb(197, 158, 176);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
 }